<main class="login-page">
  <div *ngIf="!(afAuth.authState | async)" class="login-action">

    <button class="google-btn" mat-stroked-button appGoogleSignin xmlns="http://www.w3.org/1999/html">
      <img class="google-image" src="./../../../assets/google-icon.svg" alt="pic-google-btn" />&nbsp;
      Login with Google
    </button>

    <h4 class="dividerOr">OR</h4>

    <app-email-login></app-email-login>

  </div>

  <div *ngIf="(afAuth.authState | async) as user">
    <p>{{user.providerData[0]?.displayName}}</p>

    <button mat-stroked-button (click)="afAuth.signOut()">Log out</button>
  </div>

</main>


