.login-page {
  max-width: 1020px;
  margin: 0 auto;

  .login-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .google-btn {
    margin-bottom: 25px;
    padding: 4px 15px;
    .google-image {
      width: 33px;
      height: auto;

    }
  }
  .dividerOr {
    margin-bottom: 25px;
  }
}

